<!DOCTYPE html>
<html lang="es-es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0">
        <meta name="author" content="Universidad CEU Cardenal Herrera">
        <meta name="description" content="Recibirás formación con prácticas para trabajar y desarrollar tu profesión en Empresas y Agencias de Comunicación y Publicidad con un perfil internacional.">

        <title>{% block titlepage %}Universidad Cardenal Herrera{% endblock titlepage %}</title>

        <link href="https://www.uchceu.es/css/jquery-ui.min.css" rel="stylesheet"/>
        <link href="https://www.uchceu.es/css/slick.css" rel="stylesheet"/>
        <link href="https://www.uchceu.es/css/main.css" rel="stylesheet"/>
        <link href="https://www.uchceu.es/css/child.css" rel="stylesheet">

        <!-- jQuery JS-->
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://www.uchceu.es/js/main.js"></script>
        <script src="https://www.uchceu.es/js/imagesloaded.pkgd.min.js"></script>
        <script src="https://www.uchceu.es/js/masonry.pkgd.min.js"></script>
        <script src="https://www.uchceu.es/js/jquery-ui.min.js"></script>
        <script src="https://www.uchceu.es/js/iscroll.js"></script>
        <script src="https://www.uchceu.es/js/slick.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <!-- menú -->
            {% include 'tablon/includes/menu.html' %}

            <!-- contenido -->
            {% include 'tablon/includes/content.html' %}

            <!-- pié de página -->
            {% include 'tablon/includes/footer.html' %}

        </div>

        <!-- JQuery -->
        <script src="https://www.uchceu.es/js/child.js"></script>
        <script>
            function lanzarAjax(selectObject) {
                // console.log(selectObject.name, selectObject.value);
                $.ajax({
                    url: '/tablon/tablon_buscar_ajax/',
                    data: { 
                        'tipo': $('#selected_tipo option:selected').val(),
                        'campus': $('#selected_campus option:selected').val(),
                        'area': $('#selected_area option:selected').val(),
                    },
                    success: function( data ) {
                        console.log(data);
                        $('#mensaje').html( data.mensaje );
                    }
                });                
            }

            function seleccionarArea(selectObject) {
                if (document.getElementById('selected_area').value == selectObject.dataset.area) {
                    document.getElementById('selected_area').value = '';
                }
                else {
                    document.getElementById('selected_area').value = selectObject.dataset.area;
                }
                document.getElementById('selected_area').onchange();
            }
        </script>

    </body>

</html>