<header>
    <div class="menu-header">
        <nav class="top-header Iscroll">
            <div class="center ">
                <ul class="left">
                    <li><a href="/contacto" title="Contacta con la Universidad CEU Cardenal Herrera"><span><strong>CONTACTA CON NOSOTROS</strong></span></a></li>
                </ul>
                <ul class="right">
                    <li><a href="/nuevo-alumno" title="Nuevo estudiante"><span>NUEVO ESTUDIANTE</span></a></li>
                    <li><a href="/padres-familias" title="Padres y familias"><span>PADRES - FAMILIAS</span></a></li>
                    <li><a href="/alumni" title="Alumni"><span>ALUMNI</span></a></li>
                    <li><a href="/partners" title="Alumni"><span>PARTNERS</span></a></li>
                    <li>
                        <div class="cover-lang">
                            <span class="select-lang">Idioma <span></span></span>
                            <ul class="idioms">
                                <li><a href="//www.uchceu.es/va/estudis" title="Version en Valencià"><span>VALENCIÀ</span></a></li>
                                <li><a href="//www.uchceu.com/en/studies" title="English version"><span>ENGLISH</span></a></li>
                                <li><a href="//www.uchceu.com/fr/formations" title="Version en français"><span>FRANÇAIS</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="back-menu">
            <div class="center">
                <div class="logo">
                    <a href="https://www.uchceu.es">
                        <div class="generic-logo">
                            <img src="https://www.uchceu.es/img/UCHCEU.png" width="60" height="60" alt="Imagotipo de la Universidad CEU Cardenal Herrera">
                            <span>CEU</span><span class="logo-bar">|</span>
                        </div>
                        <div class="specific-univeristy">
                            <span> Universidad <br />Cardenal Herrera </span>
                        </div>
                    </a>
                </div>
                <div class="ctrl-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav class="menu">
                    <ul>
                        <li data-menu="conocenos"><span>Conócenos</span></li>
                        <li data-menu="estudios"><span>Estudios</span></li>
                        <li data-menu="vida-en-el-campus"><span>Vida en el Campus</span></li>
                        <li data-menu="admisiones-ayudas"><span>Admisión y ayudas</span></li>
                        <li data-menu="busqueda"><span class="search-icon"></span></li>
                    </ul>
                </nav>
                <div class="add-elements">
                    <div class="center"></div>
                </div>
            </div>
        </div>

        <div class="submenu">
            <div class="center">
                <div data-menu="conocenos">
                    <span class="category">Con&oacute;cenos</span>
                    <div class="cover-tags">
                        <div class="lg_4">
                            <span class="tag menu-principal"><a href="/conocenos">CEU UCH, así somos</a></span>
                            <ul class="menu-principal">
                                <li><a href="/conocenos/mision-vision" title="Somos"><span>Somos</span></a></li>
                                <li><a href="/conocenos/cultura-valores" title="Pensamos"><span>Pensamos</span></a></li>
                                <li><a href="/conocenos/decimos" title="Decimos"><span>Decimos</span></a></li>
                                <li><a href="/conocenos/historia-hitos" title="Historia e hitos"><span>Historia e hitos</span></a></li>
                                <li><a href="/conocenos/mision-vision-valores" title="Misión, visión y valores"><span>Misión, visión y valores</span></a></li>
                                <li><a href="/conocenos/transparencia" title="Transparencia"><span>Transparencia</span></a></li>
                                <li><a href="/conocenos/actualidad" title="Está pasando ahora"><span>Está pasando ahora</span></a></li>
                                <li><a href="/destacados/2020/coronavirus" title="Así respondimos"><span>Así respondimos</span></a></li>
                            </ul>
                        </div>
                        <div class="lg_4">
                            <span class="tag menu-principal"><a href="/conocenos/valor-de-la-diferencia">El valor de la diferencia</a></span>
                            <ul>
                                <li><a href="/conocenos/experiencia-formativa" title="Experiencia Formativa"><span>Experiencia Formativa</span></a></li>
                                <li><a href="/universidad-internacional" title="Universidad Internacional de Valencia, Alicante y Castellón"><span>Universidad Internacional</span></a></li>
                                <li>
                                    <a href="/conocenos/ser-profesional" title="Ser Profesional"><span>Ser Profesional</span></a>
                                    <ul>
                                        <li><a href="/conocenos/microcredenciales" title="Microcredenciales"><span>Microcredenciales</span></a></li>
                                        <li><a href="https://emplea.ceu.es/" title="CEU Emplea" target="_blank"><span>CEU Emplea</span></a></li>
                                    </ul>
                                </li>
                                <li><a href="/conocenos/ser-innovador" title="Ser Innovador"><span>Ser Innovador</span></a></li>
                                <li><a href="/conocenos/ser-social" title="Ser Social"><span>Ser Social</span></a></li>
                                <li><a href="/conocenos/investigacion" title="Ser Investigador"><span>Ser Investigador</span></a></li>
                                <li><a href="/conocenos/ser-sostenible" title="Ser Sostenible"><span>Ser Sostenible</span></a></li>
                            </ul>
                        </div>
                        <div class="lg_4">
                            <span class="tag menu-principal"><a href="/conocenos/organizacion">Organizaci&oacute;n</a></span>
                            <ul>
                                <li><a href="/conocenos/estructura-academica" title="Estructura académica"><span>Estructura académica</span></a></li>
                                <li><a href="/conocenos/estructura-gestion" title="Estructura de gestión"><span>Estructura de gestión</span></a></li>
                                <li><a href="/conocenos/espacios-avanzados-aprendizaje" title="Espacios avanzados de aprendizaje"><span>Espacios Avanzados de Aprendizaje</span></a></li>
                                <li><a href="/conocenos/udec" title="UDEC"><span>Unidad de Desarrollo Estratégico y Calidad</span></a></li>
                                <li><a href="/conocenos/comision-investigacion" title="Comisión de Investigación"><span>Comisión de Investigación</span></a></li>
                                <li><a href="/conocenos/unidad-igualdad" title="Unidad de igualdad"><span>Unidad de Igualdad</span></a></li>
                                <li><a href="/conocenos/premios" title="Premios"><span>Premios</span></a></li>
                                <li><a href="/conocenos/normativa" title="Normativa"><span>Normativa</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-menu="estudios">
                    <span class="category">Estudios</span>
                    <div class="cover-tags">
                        <div class="lg_3">
                            <span class="tag menu-principal">Por tipo</span>
                            <ul>
                                <li><a href="/estudios/grado" title="Grado / Doble Grado"><span>Grado / Doble Grado</span></a></li>
                                <li><a href="/estudios/posgrado" title="Máster / Título Propio"><span>Máster / Título Propio</span></a></li>
                                <li><a href="/estudios/curso-especializacion" title="Curso Universitario"><span>Cursos universitarios</span></a></li>
                                <li><a href="https://www.escueladoctorado.ceu.es" target="_blank" title="Doctorado"><span>Doctorado</span></a></li>
                                <li><a href="https://www.ciclosformativosceu.es" title="Ciclos formativos" target="_blank"><span>Ciclos formativos</span></a></li>
                                <li><a href="/estudios/aulas-universitarias-experiencia" title="Aulas Universitarias de la Experiencia"><span>Aulas Universitarias de la Experiencia</span></a></li>
                                <li><a href="/servicios/idiomas/formacion" title="Cursos de idiomas"><span>Cursos de idiomas y acreditación</span></a></li>
                                <li><a href="/estudios/bootcamp" title="Bootcamp"><span>Bootcamp</span></a></li>
                            </ul>
                        </div>
                        <div class="lg_3">
                            <span class="tag menu-principal">Por área de conocimiento</span>
                            <ul>
                                <li><a href="/estudios/area-ciencias-salud" title="Ciencias de la Salud"><span>Ciencias de la Salud</span></a></li>
                                <li><a href="/estudios/area-comunicacion" title="Comunicación"><span>Comunicación</span></a></li>
                                <li><a href="/estudios/area-derecho-politicas" title="Derecho y Políticas"><span>Derecho y Políticas</span></a></li>
                                <li><a href="/estudios/area-diseno" title="Diseño"><span>Diseño</span></a></li>
                                <li><a href="/estudios/area-educacion" title="Educación"><span>Educación</span></a></li>
                                <li><a href="/estudios/area-empresa-marketing" title="Empresa y Marketing"><span>Empresa y Marketing</span></a></li>
                            </ul>
                        </div>
                        <div class="lg_3">
                            <span class="tag menu-principal">&nbsp;</span>
                            <ul>
                                <li><a href="/estudios/area-deporte" title="Deporte"><span>Deporte</span></a></li>
                                <li><a href="/estudios/area-ingenieria" title="Ingeniería"><span>Ingeniería</span></a></li>
                                <li><a href="/estudios/area-arquitectura" title="Arquitectura"><span>Arquitectura</span></a></li>
                                <li><a href="/estudios/area-veterinaria" title="Veterinaria"><span>Veterinaria</span></a></li>
                                <li><a href="/estudios/area-gastronomia" title="Gastronomía"><span>Gastronomía</span></a></li>
                            </ul>
                        </div>
                        <div class="lg_3">
                            <span class="tag menu-principal">Por centro</span>
                            <ul>
                                <li><a href="/estudios/centro-moncada-alfara" title="Alfara"><span>Alfara</span></a></li>
                                <li><a href="/estudios/centro-valencia" title="Valencia"><span>Valencia</span></a></li>
                                <li><a href="/estudios/centro-castellon" title="Castellón"><span>Castellón</span></a></li>
                                <li><a href="/estudios/centro-elche" title="Elche"><span>Elche</span></a></li>
                                <li><a href="/estudios/centro-otros" title="Elche"><span>Otros</span></a></li>
                                <li>
                                    <span>Conoce nuestros campus</span>
                                    <ul>
                                        <li><a href="/universidad-valencia" title="Universidad en Valencia"><span>Valencia</span></a></li>
                                        <li><a href="/universidad-elche" title="Universidad en Elche"><span>Elche</span></a></li>
                                        <li><a href="/universidad-castellon" title="Universidad en Castellón"><span>Castellón</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-menu="vida-en-el-campus">
                    <span class="category">Vida en el Campus</span>
                    <div class="cover-tags">
                        <div class="lg_4">
                            <span class="tag menu-principal">Campus life</span>
                            <ul>
                                <li><a href="/vida-en-el-campus" title="¿Qué es Campus Life?"><span>¿Qué es Campus Life?</span></a></li>
                                <li>
                                    <a href="/vida-en-el-campus/integracion-personal" title="Campus Life Smile"><span>Campus Life Smile</span></a>
                                    <ul>
                                        <li><a href="/vida-en-el-campus/mentoring-programme" title="Mentoring Programme"><span>Mentoring Programme</span></a></li>
                                    </ul>
                                </li>
                                <li><a href="/vida-en-el-campus/integracion-academica" title="Campus Life Learn"><span>Campus Life Learn</span></a></li>
                                <li>
                                    <a href="/vida-en-el-campus/integracion-universitaria" title="Campus Life Share"><span>Campus Life Share</span></a>
                                    <ul>
                                        <li><a href="/vida-en-el-campus/clubes-estudiantes" title="Clubes de estudiantes"><span>Clubes de estudiantes</span></a></li>
                                    </ul>
                                </li>
                                <li><a href="/vida-en-el-campus/integracion-sociedad" title="Campus Life Involved"><span>Campus Life Involved</span></a></li>
                                <li><a href="https://blog.uchceu.es/campus-life" title="Blog Campus Life" target="_blank"><span>Experiencias Campus Life</span></a></li>
                            </ul>
                        </div>
                        <!--<div class="lg_4">
                            <span class="tag menu-principal">Eventos y Actividades</span>
                            <ul>
                                <li><a id="menu_actividades_hoy" href="/actividades/hoy" title="Hoy"><span>Hoy</span></a></li>
                                <li><a id="menu_actividades_manana" href="/actividades/manana" title="Mañana"><span>Mañana</span></a></li>
                                <li><a id="menu_actividades_semana" href="/actividades/semana" title="Esta semana"><span>Esta semana</span></a></li>
                                <li><a id="menu_actividades_mes" href="/actividades/mes" title="Este mes"><span>Este mes</span></a></li>
                                <li><a id="menu_actividades_adelante" href="/actividades/adelante" title="Más adelante"><span>Más adelante</span></a></li>
                            </ul>
                            </div>-->
                        <div class="lg_4">
                            <span class="tag menu-principal">Cuando no estoy en clase</span>
                            <ul>
                                <li><a href="/actividades/hoy" title="Agenda general de actividades"><span>Agenda general de actividades</span></a></li>
                                <li><a href="/actividades/idiomas" title="Actividades idiomas"><span>Actividades idiomas</span></a></li>
                                <li><a href="/actividades/deportes" title="Actividades deportes"><span>Actividades deportes</span></a></li>
                                <li><a href="/actividades/clubs-universitarios" title="Actividades clubs universitarios"><span>Actividades clubs universitarios</span></a></li>
                                <li><a href="/actividades/empleabilidad-emprendimiento" title="Mejorar empleabilidad y emprendimiento"><span>Mejorar empleabilidad y emprendimiento</span></a></li>
                                <li><a href="/actividades/delegacion-estudiantes" title="Actividades Delegación Estudiantes"><span>Actividades Delegación Estudiantes</span></a></li>
                                <li><a href="/actividades/voluntariado" title="Participar en voluntariado solidario"><span>Participar en voluntariado solidario</span></a></li>
                                <li><a href="/vida-en-el-campus/instantes" title="Ver Instantes en el campus"><span>Ver Instantes en el campus</span></a></li>
                            </ul>
                        </div>
                        <div class="lg_4">
                            <span class="tag menu-principal">Más allá del aula</span>
                            <ul>
                                <li><a href="/servicios/biblioteca-crai" title="Biblioteca-CRAI"><span>Biblioteca-CRAI</span></a></li>
                                <li><a href="/servicios/secretaria-general" title="Secretaría General"><span>Secretaría General</span></a></li>
                                <li>
                                    <a href="/servicios/relaciones-internacionales" title="Relaciones Internacionales"><span>Relaciones Internacionales</span></a>
                                    <!--<ul>
                                        <li><a href="/servicios/relaciones-internacionales/international-student-services" title="International Student Services"><span>International Student Services</span></a></li>
                                        </ul>-->
                                </li>
                                <li><a href="/servicios/carreras-profesionales" title="Carreras Profesionales"><span>Carreras Profesionales</span></a></li>
                                <li><a href="/servicios/idiomas" title="Idiomas"><span>Idiomas</span></a></li>
                                <li><a href="/servicios/orientacion-estudiante" title="Servicio de Orientación al Estudiante"><span>Orientación al estudiante</span></a></li>
                                <li><a href="/servicios/atencion-discapacidad" title="Unidad de atención a personas con discapacidad"><span>Unidad de atención a personas con discapacidad</span></a></li>
                                <li><a href="/servicios/pastoral" title="Pastoral"><span>Pastoral</span></a></li>
                                <li><a href="/vida-en-el-campus/deportes" title="Deportes"><span>Deportes</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-menu="admisiones-ayudas">
                    <span class="category">Admisi&oacute;n y ayudas</span>
                    <div class="cover-tags">
                        <div class="lg_3">
                            <span class="tag menu-principal">Admisión</span>
                            <ul>
                                <li><a href="/nuevo-alumno/proceso-admision-grado" title="Admisión de Grado"><span>Admisión Grado</span></a></li>
                                <li><a href="/nuevo-alumno/proceso-admision-grado/medicina" title="Admisión Grado Medicina"><span>Admisión Grado Medicina</span></a></li>
                                <li><a href="/nuevo-alumno/proceso-admision-grado/medicina-traslado" title="Traslado expediente Grado Medicina"><span>Admisión traslado expediente Grado Medicina</span></a></li>
                                <li><a href="/nuevo-alumno/proceso-admision-grado/enfermeria" title="Admisión Grado Enfermería"><span>Admisión Grado Enfermería</span></a></li>
                                <li><a href="/nuevo-alumno/proceso-admision-grado/traslado-expediente" title="Admisión traslado expediente Grado en Enfermería, Odontología y Veterinaria"><span>Admisión traslado expediente Grado en Enfermería, Odontología y Veterinaria</span></a></li>
                            </ul>
                        </div>
                        <div class="lg_3">
                            <span class="tag menu-principal">&nbsp;</span>
                            <ul>
                                <li><a href="/nuevo-alumno/proceso-admision-grado/internacional" title="Admisión Grado para alumnos internacionales"><span>Admisión Grado para alumnos internacionales</span></a></li>
                                <li><a href="/nuevo-alumno/proceso-admision-posgrado" title="Admisión Posgrado"><span>Admisión Posgrado</span></a></li>
                                <li><a href="https://www.escueladoctorado.ceu.es/admision-matricula/proceso/" title="Admisión Doctorado" target="_blank"><span>Admisión Doctorado</span></a></li>
                                <li><a href="https://www.ciclosformativosceu.es/nuevo-alumno/solicita-admision" title="Admisión Ciclos Formativos" target="_blank"><span>Admisión Ciclos Formativos</span></a></li>
                            </ul>
                        </div>
                        <div class="lg_3">
                            <span class="tag menu-principal">Ayudas y becas</span>
                            <ul>
                                <li><a href="/becas-universitarias/estudiante-grado" title="Becas a los estudios de Grado"><span>Becas a los estudios de Grado</span></a></li>
                                <li><a href="/becas-universitarias/estudiante-posgrado" title="Becas a los estudios de Posgrado"><span>Becas a los estudios de Posgrado</span></a></li>
                                <li><a href="/becas-universitarias/grado-financiacion" title="Financiación"><span>Financiación</span></a></li>
                                <li><a href="/becas-universitarias/grado-seguros" title="Seguros"><span>Seguros</span></a></li>
                                <li><a href="/becas-universitarias/becas-deportistas" title="Seguros"><span>Apoyo a Deportistas</span></a></li>
                            </ul>
                        </div>
                        <div class="lg_3">
                            <span class="tag menu-principal">Eventos</span>
                            <ul>
                                <li><a href="/nuevo-alumno/puertas-abiertas" title="Jornada de Puertas Abiertas" target="_blank"><span>Jornada de Puertas Abiertas</span></a></li>
                                <li><a href="/nuevo-alumno/summer-inspiration" title="Summer Inspiration" target="_blank"><span>Summer Inspiration</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="generic-links" data-menu="perfiles">
                    <span class="category-new"><a href="/nuevo-alumno" title="Nuevo estudiante">Nuevo estudiante</a></span>
                </div>
                <div class="generic-links" data-menu="perfiles">
                    <span class="category-new"><a href="/padres-familias" title="Padres - familias">Padres - Familias</a></span>
                </div>
                <div class="generic-links" data-menu="perfiles1">
                    <span class="category-new"><a href="/alumni" title="Alumni">Alumni</a></span>
                </div>
                <div class="generic-links" data-menu="perfiles1">
                    <span class="category-new"><a href="/partners" title="Partners">Partners</a></span>
                </div>
                <div class="generic-links" data-menu="contacto">
                    <span class="category-new"><a href="/contacto" title="Contacta con la Universidad CEU Cardenal Herrera">Contacto</a></span>
                </div>
                <!--<div class="generic-links" data-menu="centros">
                    <span class="category">Otras Universidades CEU</span>
                    <div class="cover-tags">
                        <ul></ul>
                    </div>
                    </div>-->
                <div class="generic-links" data-menu="idioma">
                    <span class="category-new">
                    <a href="//www.uchceu.es/va/estudis" title="Version en Valencià">Valencià</a>
                    </span>
                </div>
                <div class="generic-links" data-menu="idioma1">
                    <span class="category-new">
                    <a href="//www.uchceu.com/en/studies" title="English version">English</a>
                    </span>
                </div>
                <div class="generic-links" data-menu="idioma2">
                    <span class="category-new">
                    <a href="//www.uchceu.com/fr/formations" title="Version en français">Français</a>
                    </span>
                </div>
                <div data-menu="busqueda">
                    <div class="lg_12">
                        <form action="/buscador" method="PUT">
                            <input type="text" title="Buscador" aria-label="Buscador" class="search-btn" name="q" placeholder="Buscar">
                            <input type="submit" value="Ver resultados" class="right btn btn-normal" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="module none-padding">
    <div class="gallery">
        <div class="slide">
            <img src="https://www.uchceu.es/img/slides/estudios.jpg" alt="Listado de Estudios">
            <div class="box-info">
                <div class="center">
                    <h1 class="title big-title">Estudios</h1>
                    <p>Nuestra oferta académica te ofrece una amplia variedad de estudios diferentes</p>
                </div>
            </div>
        </div>
    </div>
</section>
