<section class="module gray">
    <div class="center">
        <ul class="breadcrumb">
            <li><a href="https://www.uchceu.es" aria-label="home"><span class="icon icon-28"></span></a></li>
            <li>Miga anterior</li>
            <li><span>Miga actual</span></li>
        </ul>

        
        <h2 class="title mb0">Título de la página</h2>

        <!-- contenido de la búsqueda -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
    </div>

</section>
