<footer>
    <div class="center">
        <div class="footer-section">
            <div class="logo">
                <a href="https://www.uchceu.es" title="Universidad CEU Cardenal Herrera">
                    <img src="https://www.uchceu.es/img/logotipo-ceu-uch-monocromo.png" width="290" height="75" alt="Universidad CEU Cardenal Herrera">
                </a>
            </div>
            <nav class="footer-nav">
                <ul>
                    <li><a href="/contacto" title="Contacto"><span>CONTACTO</span></a></li>
                    <li><a id="evento_intranet" href="https://intranet.ceu.es" title="Intranet" target="_blank"><span>INTRANET</span></a></li>
                    <li><a id="evento_correo" href="https://www.office.com" title="Correo" target="_blank"><span>CORREO</span></a></li>
                    <li><a href="/directorio/" target="_blank" title="Directorio de personal CEU-UCH"><span>DIRECTORIO</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-section">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.ceu.es/ceu/empleo.php" target="_blank" title="Trabaja con nosotros"><span>TRABAJA CON NOSOTROS</span></a></li>
                    <li><a href="https://medios.uchceu.es/actualidad-ceu/sala-de-prensa/" target="_blank" title="Sala de Prensa"><span>SALA DE PRENSA</span></a></li>
                    <li><a href="/buzon-sugerencias"><span>BUZÓN DE SUGERENCIAS</span></a></li>
                </ul>
            </nav>
            <nav class="social-nav">
                <ul>
                    <li><a href="https://www.instagram.com/uchceu_universidad" target="_blank" aria-label="Página en Instagram"><span class="social-icon i-instagram"></span></a></li>
                    <li><a href="https://www.tiktok.com/@uchceu_universidad" target="_blank" aria-label="Página en Tik Tok"><span class="social-icon i-gplus"></span></a></li>
                    <li><a href="https://www.linkedin.com/school/497316" target="_blank" aria-label="Linkedin de la Universidad"><span class="social-icon i-linkedin"></span></a></li>
                    <li><a href="https://www.facebook.com/UCHCEU" target="_blank" aria-label="Página en Facebook"><span class="social-icon i-facebook"></span></a></li>
                    <li><a href="https://twitter.com/uchceu" target="_blank" aria-label="Perfil en Twitter"><span class="social-icon i-twitter"></span></a></li>
                    <li><a href="https://www.flickr.com/photos/uchceu/" target="_blank" aria-label="Galería Flickr"><span class="social-icon i-flickr"></span></a></li>
                    <li><a href="https://www.youtube.com/ceuvalencia" target="_blank" aria-label="Canal de YouTube"><span class="social-icon i-youtube"></span></a></li>
                    <li><a href="https://www.uchceu.es/media" target="_blank" aria-label="Red de blogs"><span>BLOGS</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-section">
            <div class="acdp">
                <a href="https://www.acdp.es" target="_blank">
                    <img src="https://www.uchceu.es/img/acdp.png" width="177" height="47" alt="Asociaci&oacute;n Cat&oacute;lica de Propagandistas">
                </a>
            </div>
            <div class="copy">
                <ul>
                    <li><a href="/aviso-legal" title="Aviso legal"><span>AVISO LEGAL</span></a></li>
                    <li><a href="/politica-privacidad" title="Pol&iacute;tica de privacidad Redes Sociales"><span>POL&Iacute;TICA DE PRIVACIDAD</span></a></li>
                    <li><a href="/politica-cookies" title="Pol&iacute;tica de Cookies"><span>POL&Iacute;TICA DE COOKIES</span></a></li>
                    <li><a href="/mapa-sitio" title="Mapa sitio" target="_blank"><span>MAPA DEL SITIO</span></a></li>
                    <li><a href="https://canaletico-institucional.i2-ethics.com" title="Canal Ético" target="_blank"><span>CANAL ÉTICO</span></a></li>
                </ul>
                <ul>
                    <li><a rel="nofollow" href="https://www.uspceu.com/" target="_blank" title="Universidad CEU San Pablo"><span>CEU MADRID</span></a></li>
                    <li><a rel="nofollow" href="https://www.uaoceu.es/" target="_blank" title="Universidad Abat Oliba CEU"><span>CEU BARCELONA</span></a></li>
                    <li><a rel="nofollow" href="https://ceudigital.com/" target="_blank" title="CEU Digital"><span>CEU DIGITAL</span></a></li>
                </ul>
            </div>
            <div class="universia">
                <div class="lg_12">
                    <div class="lg_6"><a href="https://cequint.eu/awarded-certificates/ceu-cardenal-herrera-university/" target="_blank" rel="nofollow"><img src="https://www.uchceu.es/img/cequint.png" class="pr20" alt="CeQuInt"></a></div>
                    <div class="lg_6"><img src="https://www.uchceu.es/img/universia.png" alt="Universia" class="pt10"></div>
                </div>
            </div>
        </div>
</footer>