<section class="module none-padding">
    <div class="gallery slick-initialized slick-slider">
        <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px); " role="listbox">
                <div class="slide slick-slide slick-current slick-active" aria-selected="true" 
                     style="background-image: url('{{config.encabezado.imagen}}'); background-size: cover; background-position: center center; " 
                     data-slick-index="0" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide00">
                    <div class="box-info">
                        <div class="center">
                            <h1 id="slick-slide00" class="title">{{config.encabezado.texto}}</h1>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
